@import url("../font/Sailec/stylesheet.css");

/* font import */

/* debug */
.card_signup{
  height: 520px;
}

#site_section {
  min-height: 300px;
  padding: 3rem 1.5rem;
}
.site_section:nth-child(even) {
  background-color:#ffff
}



/* Class utility */

/* Color ad Typografhy */

h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
p::first-letter,
li::first-letter,
a::first-letter {
  text-transform: uppercase;
}


.white{
  color: #fff;
}
.darkblue {
  color: #031b4e;
}

.bg_white {
  background-color: white;
}

.p_64_24 {
  padding: 64px 24px;
}
.px_20_30 {
  padding-left: 20px;
  padding-right: 30px;
}
.px_30 {
  padding-left: 30px;
  padding-right: 30px;
}
.px_0_64 {
  padding-left: 0px;
  padding-right: 64px;
}

.py_0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.py_8{
  padding-top: 8px;
  padding-bottom: 8px;
}
.py_20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py_64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.py_120_70 {
  padding-top: 120px;
  padding-bottom: 70px;
}
.pr_64{
  padding-right: 64px;
}
.mt_64 {
  margin-top: 64px;
}
.mt_20 {
  margin-top: 20px;
}
.mr_15 {
  margin-right: 15px;
}

.m_10_0 {
  margin: 10px 0;
}

body {
  font-family: 'Sailec-Medium', 'Helvetica', 'sans-serif';
  background-color: rgb(243, 245, 249);
}
section {
  padding: 120px 24px;
}
h2 {
  color: #031b4e;
  font-size: 36px;
  line-height: 110%;
  font-family: 'Sailec-Bold';
  font-weight: normal;
  letter-spacing: -1px;
  margin: 0 auto;
}
h5 {
  color: #031b4e;
  font-family: 'Sailec-Bold';
  font-size: 18px;
  font-weight: normal;
  line-height: 120%;
  letter-spacing: 0;
  margin-top: 25px;
  margin-bottom: 0;
}
p {
  font-family: 'Sailec', 'Helvetica', 'Arial', "sans-serif";
  color: #5b6987;
  font-size: 16px;
  line-height: 160%;
  font-weight: normal;
  font-style: normal;
  margin-top: 20px;
}

.line_link {
  color: #0069ff;
  position: relative;
}

/**************
*   HEADER    *
***************/
#nav_top,
#nav_menu {
  background-color: white;
  border-radius: 0;
  z-index: 30;
}
.navbar {
  margin-bottom: 0px;
  border: 0px solid transparent;
}
/* #nav_top */
#nav_top {
  padding-top: 0;
  min-height: 2rem;
  line-height: 40px;
  border-bottom: 1px solid rgb(229, 232, 237);
  font-size: 12px;
}

#new_link, 
#new_link:hover,
.line_link,
.line_link:hover {
  text-decoration: none;
}

#nav_top .new_link > span:last-child {
  color: #5b6987;
  font-family: 'Sailec-Medium','Helvetica','sans-serif';
  font-size: 12px;
  font-weight: 300;
  line-height: 19px;
  margin: 1px 0 0 0;
  padding: 0px;
  position: relative;
}

#new_link>span:nth-child(2)::after,
.line_link::after {
  font-weight: 900;
  content: '\f054';
  font-family: 'Font Awesome 5 Pro';
  -webkit-font-smoothing: antialiased;
  padding: 5px;
  font-size: 10px;
}
#new_link>span:nth-child(2):hover,
#navbar-end>li>a:hover,
.line_link:hover {
  color: #0069ff;
}
#nav_top .new {
  font-size: 9px;
  line-height: 1px;
  text-transform: uppercase;
  vertical-align: middle;
  color: rgb(3, 27, 78);
  background-color: rgb(0, 215, 210);
  padding: 8px 7px;
  border-radius: 5px;
  margin-right: 8px;
}

#nav_menu {
  box-shadow: rgba(3, 27, 78, 0.1) 0px 2px 4px;
}
.navbar-brand.desk_xs {
  display: none;
}

.navbar-brand.desk_md {
  padding-left: 30px;
  padding-top: 7px;
  z-index: 20;
}

#nav_menu img{
  max-height: 3rem;
  vertical-align: text-bottom;
}

.caret {
  height: auto;
  border-top: 0px dashed;
}
.caret::after {
  font-weight: 900;
  content: '\f078';
  font-family: 'Font Awesome 5 Pro';
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 100%;
}
#nav_menu .navbar-right>li>a {
  border-color: transparent;
  border-radius: 5px;
  font-family: 'Sailec-Bold',
  'Helvetica',
  'san-serif';
  font-size: 14px;
  padding: 8px 16px 6px;
  margin-top: 8px;
}

#nav_menu .navbar-right>li:first-child>a {
  background-color: #ffff;
  color: #006aff;
  border-color: #0069ff;
}
#nav_menu .navbar-right>li:last-child>a {
  background-color: #006aff;
  color: #fff;
  
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

/* jumbotron */
.jumbotron {
  height: 800px;
  margin-top: 110px ;
  margin-bottom: 0;
  background-image: url(../img/header/jumbo/bg-home-hero-3.svg);
  background-color: rgb(0, 105, 255);
  background-size: cover;
  background-position: center center;
  backface-visibility: hidden;
  transform: translateZ(0px);
}

.jumbotron>.container {
  max-width: 1170px;
}

.jumbotron img {
  height: 100%;
}

.jumbotron>.box_text {
  max-width: 670px;
}
.jumbotron h1{
  font-size: 58px;
  font-weight: 600;
  line-height: 120%;
  color: #fff;
  letter-spacing: -1px;
  margin-bottom: 0;
}

.jumbotron p {
  font-family: 'Sailec-Light';
  font-size: 24px;
  line-height: 150%;
  margin-top: 20px;
}

/************
*   MAIN    *
*************/

/* -- /#sito_main -- */
#businesses_soluction img {
  margin: auto;
}
#businesses_soluction a {
  display: inline-block;
}

#planning {
  align-items: center;
  padding: 32px;
  max-width: 940px;
  border: 1px solid #e5e8ed;
  box-shadow: 0px 2px 4px rgba(1, 14, 40, 0.05);
  margin: 0 auto 64px auto;
}
#planning img {
  max-height: 80px;
  margin: auto;
}

/* #deploy */

#deploy h2,
#designed h2 {
  font-family: "Sailec-Medium";
  font-size: 36px;
  font-weight: bold;
  line-height: 110%;
}

#deploy p,
#designed p.top_text {
  max-width: 770px;
  font-family: 'Sailec-Light';
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  margin: 20px auto auto auto;
}


#designed div.scroll_box>.slide_img>img {
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);
}


#designed .row .swipe {
  margin-top: 257px;
  margin-bottom: 257px;
}

#designed .row .swipe:first-child{
  transform: scaleX(-1);
}

#designed p.bottom_text {
  text-align: center;
  width: 75%;
  margin: 32px auto 0 auto;
}


/* cheked_nav */

input[type="radio"] {
  display: none;
}
.checked_nav {
  margin-top: 32px;
  text-align: center;
}


.dots {
  width: 10px;
  height: 10px;
  padding: 3px;
  cursor: pointer;
  outline: 0;
  margin: 0 6px;
  background-color: transparent;
  border: 2px solid #0069ff;
  border-radius: 50%;
  z-index: 10;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five,
#i6:checked ~ #six {
  z-index: 9;
}
#i1:checked ~ .checked_nav #dot1,
#i2:checked ~ .checked_nav #dot2,
#i3:checked ~ .checked_nav #dot3,
#i4:checked ~ .checked_nav #dot4,
#i5:checked ~ .checked_nav #dot5,
#i6:checked ~ .checked_nav #dot6 {
  background: #0069ff;
}
/* build_section */

#build_section>.container>.row>div.card:not(:first) {
  padding-left: 64px;
  padding-right: 0;
}

/* build_section */

/* customers_service */
#customers_service {
  background: url(../img/main/customers/bg-map.svg) 50% 50% / cover no-repeat rgb(3, 27, 78);
}

#box_info_customers,
#box_infotest {
  padding: 0;
  list-style: none;
}

#box_info_customers h2, 
#box_info_customers p {
  max-width: 770px;
}

#box_info_customers .text_link {
  color: #0069ff;
  font-family: 'Sailec';
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
  font-style: normal;
  
}

#box_info_customers p {
  font-family: 'Sailec-Light';
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 150%;
  margin: 20px auto 0 auto;
}

#box_infotest>li:not(:nth-last-child(-n+2)):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 96%;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);

}

#box_infotest>li {
  margin: 0;
  padding: 10px 15px;
/*   line-height: 40px; */
}

#box_infotest>li span:first-of-type,
#box_infotest>li a {
  padding: 0;
}

#box_infotest span:first-of-type {
  text-transform: uppercase;
  color: #ffffff;
  text-align: left;
}

#box_infotest span:last-of-type {
  font-size: 13px;
  font-family: "Sailec";
  font-weight: 400;
  font-style: normal;
  color: #fff;
  opacity: 0.6;
  text-transform: capitalize;
}


#box_infotest a {  
  color: rgb(0, 215, 210);
  font-size: 12px;
  font-family: 'Sailec-Medium','Helvetica','sans-serif';
  font-style: normal;
  text-transform: capitalize;
  text-align: right;
}



/* customers_service */
/************
*   MAIN    *
*************/

/* Media Query */


@media screen and (max-width: 1216px) {
  .container{
    max-width: 1152px;
  }
  .navbar {
  min-height: 3.25rem;
  }

  section {
    padding: 64px 24px;
  }

  
  #businesses_soluction {
    padding: 80px 24px 64px;
  }

  #deploy_row {
    padding-top: 64px;
  }

  #designed .row .swipe {
    margin-top: 200px;
    margin-bottom: 200px;
  }


  
}
@media screen and (min-width:991px) and (max-width:1023px) {
  div.scroll_box {
    width: 100%;
  }

  .container {
    max-width: 960px;
  }

}


@media screen and (max-width:1023px) {  
  
  #designed .row .swipe {
    display: none;
  }

  #box_infotest {
    width: 80%;
    margin: 0 10%
  }

  #box_infotest>li {
    width: 100%;
  }

  #box_infotest>li:not(:last-of-type) {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
  }

  #box_infotest>li:not(:nth-last-child(-n+2)):after {
    display: none;
  }
}

@media screen and (max-width:1100px) {

  #nav_top {
    display: none;
  }

  

  #nav_menu_collapse {
    display: none !important;
  }

  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-fixed-top {
    position: relative;
  }

  /* jumbotron */
  .jumbotron {
    margin-top: 0px;
  }

}

@media (max-width: 768px) {
  
  .navbar-brand.desk_xs {
    display: block;
  }

  .navbar-brand.desk_md {
    display: none;
  }

}


@media (min-width: 768px) {
  #navbar-end>li>a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 41px;
  }

}